body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.header > h1 { 
    margin-bottom: 0px;
}

img { 
    width: 300px;
    height: 300px;
}

button { 
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 10px;
    font-size: 25px;
    padding: 20px;
}

button:active {
    box-shadow: 10px 10px #666;
    transform: translateY(4px);
}

.header { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    margin: 40px;
}

.scoreboard { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px; 
}

.score-keeper { 
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px; 
}


